:root {
        --grid-columns: 1;
        --grid-rows: 1;
}

.container {
        /* display: flex;
        flex-wrap: wrap; */
        
        display: grid;
        grid-gap: 0px;
        grid-template-rows: repeat(var(--grid-rows), 1fr);
        grid-template-columns: repeat(var(--grid-columns), 1fr); 
        height: 500px;
        width: 500px;
        /* Centering div manually w/o using flexbox*/
        margin: 0 auto;
        
}

.grid-box {
        /* padding: 1px; */
        border: 1px solid black;
   
}

.black {
        background-color: black;
}